<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="POST" action="/user">
          <input name="username" placeholder="Userame" required>
          <input name="email" type="email" placeholder="Email" required>
          <input name="password" type="password" placeholder="password" required>
          <button type="submit" >Create user</button>
        
    </form>
</body>
</html>