<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Delete User: <%= user.username %> </h1>
    <p>please enter the details for strong<strong> <%=user.email%> </strong> to confirm </p>
    <form method="POST" action="/user/<%=user.id%>?_method=DELETE" >
        <input type="email" name="email" placeholder="Confirm Email" required>
        <input type="password" name="password" placeholder="Confirm Password" required>
        <button type="submit" > Delete</button>
    
    </form>
   <br>
   <a href="/user">Go to home </a>


</body>
</html>