<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=listings, initial-scale=1.0">
    <title>Wanderelust</title>
</head>
<body>
    
<h3>All Listings</h3>
<form action="/lisitng/new" method="GET"></form>
<a href="/listings/new"><button>Create New Listing</button></a>
<ul>
    <% for(let listing of  allListings) { %>
    <li><a href="/listings/<%= listing._id %>"> <%=listing.title%></a></li>
<% } %>
</ul>

</body>
</html>

