<% layout("/layouts/boilerplate") %>
  <div class="row">
    <div class="col-8 offset-2">

      <h3>Create a New Listing</h3>

      <form action="/listings" method="POST" novalidate class="needs-validation ">
        <!-- explaint these inn short diffent classes  and attributes like novalidate class="needs-validation valid feedback and invalid feednback and so on  -->
        <div class="mb-3">

          <label for="title" class="form-label">Enter Title</label>
          <input type="text" name="listing[title]" placeholder="Add a Catchy Title" class="form-control" required>
          <div class=" valid-feedback">Title looks good!</div>
          <div class="invalid-feedback">Enter a Valid Title</div>
        </div>
        <!----->


        <br>
        <div class="mb-2">

          <label for="description" class="form-label">Description</label>
          <input type="text" name="listing[description]" placeholder="Enter Description" class="form-control" required>
          <div class=" valid-feedback">Description is Ready!</div>
          <div class="invalid-feedback">Enter a Valid Description</div>

        </div>
        <br>

        <div class="mb-4">

          <label for="image" class="form-label">URL/Link</label>
          <input type="text" name="listing[image]" placeholder="enter img URL/link" class="form-control">
          <div class="valid-feedback">IMG is awesome!</div>
          <div class="invalid-feedback">Uploas an Image</div>

        </div>
        <br>



        <!-------------->
        <div class="row">

          <div class="mb-3 col-md-4">


            <label for="price" class="form-label">Price</label>
            <input type="text" name="listing[price]" placeholder="Enter Price ex.2000" class="form-control" required>
            <div class=" valid-feedback">Good Pricing!</div>
            <div class="invalid-feedback">Enter a Valid Pricing</div>

          </div>


          <div class="mb-3 col-md-8">

            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="Enter your Country ex.india,pakisthan"
              class="form-control">
            <div class="valid-feedback">Oh! you belong from here!</div>
            <div class="invalid-feedback">Country can't be Empty</div>

          </div>
        </div>


        <br>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="listing[loction]" placeholder="enter location" class="form-control" required>
          <div class="valid-feedback">Good Choice!</div>
          <div class="invalid-feedback">Invalid Location!</div>
        </div>

        <br>
        <button class="btn btn-add btn-dark">Add it!</button>
      </form>
    </div>
  </div>

  <br>

