 <%- include("include/head.ejs") %>
<body>
     <h1>Roll ur dice</h1>
     <h3> here : <%=  dicev %> </h3>
        <% if(dicev==6) { %>
            <h2>Nice! Roll dice again</h2>
     <%   } %>
    
</body>
</html>